<article class="event">
    <time datetime="2015-04-07">
        <div class="month"> Apr </div>
        <div class="day">
            <span class="day--number"> 7 </span>
            <span class="day--name"> Tue </span>
        </div>
        <div class="year"> 2015 </div>
    </time>
    <div>
        <h3> 
            <a class="author" href="/author/owen-jones">Owen Jones</a>
            /
            <a class="category location" href="/category/liverpool">Liverpool</a>
        </h3>
        <p>
            Voice of the left and author of Chavs, Owen Jones will discuss his
            new paperback, and our Book of the Month, The Establishment.
        </p>
    </div>
    <div>
        <img class="featured" src="/images/owen-jones-waterstones.jpeg" />
    </div>
</article>
